html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --shape-colour: white;
  --invert: 0;
}

/* GRID */

#grid-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.shape {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
  transition: all 500ms;
}

/* DEV TOOLS */

#dev-tools {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: white;
}

@keyframes rotate-90 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-270 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
